<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lantaiyuan.ebus.realtime.dao.LeavingCarAlertMapper">
    <resultMap id="BaseResultMap" type="com.lantaiyuan.ebus.realtime.model.LeavingCarAlert">
        <!--
        @mbggenerated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
        <result column="ROUTE_ID" jdbcType="VARCHAR" property="routeId" />
        <result column="VEHICLE_ID" jdbcType="VARCHAR" property="vehicleId" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="STATUS" jdbcType="BIT" property="status" />
        <result column="DIRECTION" jdbcType="INTEGER" property="direction" />
        <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        ID, USER_ID, ROUTE_ID, VEHICLE_ID, CREATE_TIME, STATUS, DIRECTION, CITY_CODE
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select 
        <include refid="Base_Column_List" />
        from t_leaving_car_alert_dynamic
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
        @mbggenerated
        -->
        delete from t_leaving_car_alert_dynamic
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.lantaiyuan.ebus.realtime.model.LeavingCarAlert">
        <!--
        @mbggenerated
        -->
        insert into t_leaving_car_alert_dynamic (ID, USER_ID, ROUTE_ID, 
            VEHICLE_ID, CREATE_TIME, STATUS, DIRECTION, CITY_CODE
            )
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{routeId,jdbcType=VARCHAR}, 
            #{vehicleId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{direction,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.lantaiyuan.ebus.realtime.model.LeavingCarAlert">
        <!--
        @mbggenerated
        -->
        insert into t_leaving_car_alert_dynamic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="routeId != null">
                ROUTE_ID,
            </if>
            <if test="vehicleId != null">
                VEHICLE_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="direction != null">
                DIRECTION,
            </if>
            <if test="cityCode != null">
                CITY_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="routeId != null">
                #{routeId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleId != null">
                #{vehicleId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="direction != null">
                #{direction,jdbcType=INTEGER},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lantaiyuan.ebus.realtime.model.LeavingCarAlert">
        <!--
        @mbggenerated
        -->
        update t_leaving_car_alert_dynamic
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="routeId != null">
                ROUTE_ID = #{routeId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleId != null">
                VEHICLE_ID = #{vehicleId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=BIT},
            </if>
            <if test="direction != null">
                DIRECTION = #{direction,jdbcType=INTEGER},
            </if>
            <if test="cityCode != null">
                CITY_CODE = #{cityCode,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lantaiyuan.ebus.realtime.model.LeavingCarAlert">
        <!--
        @mbggenerated
        -->
        update t_leaving_car_alert_dynamic
        set USER_ID = #{userId,jdbcType=VARCHAR},
            ROUTE_ID = #{routeId,jdbcType=VARCHAR},
            VEHICLE_ID = #{vehicleId,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            CITY_CODE = #{cityCode,jdbcType=VARCHAR},
            DIRECTION = #{direction,jdbcType=INTEGER},
            STATUS = #{status,jdbcType=BIT}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    
     <!-- 自定义方法：条件查询实体信息 -->
    <select id="selectByCondition" parameterType="com.lantaiyuan.ebus.realtime.model.LeavingCarAlertQueryModel" resultMap="BaseResultMap">
        <!--
        @mbggenerated   <include refid="Base_Column_List" />
        -->
        select 
        	<include refid="Base_Column_List" />
        from t_leaving_car_alert_dynamic
        <trim prefix="WHERE" prefixOverrides="AND" >
          	<if test="id != null and id !=''">
	            AND ID = #{id,jdbcType=VARCHAR}
	        </if>
	        <if test="userId != null and userId !=''">
	            AND USER_ID = #{userId,jdbcType=VARCHAR}
	        </if>
	        <if test="routeId != null and routeId !=''">
	           	AND ROUTE_ID = #{routeId,jdbcType=VARCHAR}
	        </if>
	        <if test="vehicleId != null and vehicleId !=''">
	            AND VEHICLE_ID = #{vehicleId,jdbcType=VARCHAR}
	        </if>
	        <if test="direction != null and direction !=''">
	            AND DIRECTION = #{direction,jdbcType=INTEGER}
	        </if>
	        <if test="cityCode != null and cityCode !=''">
                AND CITY_CODE = #{cityCode,jdbcType=VARCHAR}
            </if>
	        <if test="status != null and status !=''">
	            AND STATUS = #{status,jdbcType=BIT}
	        </if>
        </trim>
    </select>
</mapper>